.card {
    border: none;
    margin: 15px;
}
.news__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}
.news__title {
    font-size: 45px;
    margin: 5px 0;
}

.card img {
    max-width: 100%;
}